h2 {
	font-weight: theme('fontWeight.medium');
	color: theme('colors.slate.600');
}

input {
	background-color: theme('colors.primary.white');
	color: theme('colors.slate.500');
	box-shadow: theme('boxShadow.obr-1');
	border-radius: 12px;
	padding: 1px 12px;
	border: theme('colors.primary.white') 2px solid;
}

input.invalid {
	border: theme('colors.primary.red') 2px solid;
}

button {
	height: 100%;
	width: fit-content;
	padding: 1px 15px;
	border-radius: 12px;
	box-shadow: theme('boxShadow.obr-1');
	color: white;
	font-weight: theme('fontWeight.bold');
	font-size: 30px;
	line-height: 36px;
}
